<!DOCTYPE html>
<html>

<head>
    <title>AVO MapGen</title>
    <link rel="stylesheet" href="static/styles/leaflet.css" />
    <link rel="stylesheet" href="static/styles/jquery-ui.min.css">
    <link rel="stylesheet" href="static/styles/index-1.css">


    <script src="static/scripts/jquery-3.6.0.min.js" defer></script>
    <script src="static/scripts/jquery-ui.min.js" defer></script>
    <script src="static/scripts/leaflet.js" defer></script>
    <script src="static/scripts/Leaflet.Graticule.js" defer></script>
    <script src="static/scripts/jquery.csv.js" defer></script>
    <script src="static/scripts/main-2.js" defer></script>
    <script type="text/javascript">
        const ACTIVE_VOLCS=new Set({{activevolcs | safe}})
    </script>

</head>

<body>
    <!--Click map for colormap selector-->
    <map name="cmMap">
        <area shape="rect" coords="2,29,457,112" class=cmArea data-cm="abyss" alt="abyss">
        <area shape="rect" coords="2,118,457,201" class=cmArea data-cm="cool" alt="cool">
        <area shape="rect" coords="2,207,457,290" class=cmArea data-cm="cubhelix" alt="cubhelix">
        <area shape="rect" coords="2,296,457,379" class=cmArea data-cm="dem1" alt="dem1">
        <area shape="rect" coords="2,385,457,468" class=cmArea data-cm="dem3" alt="dem3">
        <area shape="rect" coords="2,474,457,557" class=cmArea data-cm="drywet" alt="drywet">
        <area shape="rect" coords="2,563,457,646" class=cmArea data-cm="elevation" alt="elevation">
        <area shape="rect" coords="2,652,457,735" class=cmArea data-cm="gebco" alt="gebco">
        <area shape="rect" coords="2,741,457,824" class=cmArea data-cm="globe" alt="globe">
        <area shape="rect" coords="2,830,457,913" class=cmArea data-cm="haxby" alt="haxby">
        <area shape="rect" coords="2,919,457,1002" class=cmArea data-cm="ibcso" alt="ibcso">
        <area shape="rect" coords="2,1008,457,1091" class=cmArea data-cm="jet" alt="jet">
        <area shape="rect" coords="2,1097,457,1180" class=cmArea data-cm="magma" alt="magma">
        <area shape="rect" coords="2,1186,457,1269" class=cmArea data-cm="no_green" alt="no_green">
        <area shape="rect" coords="2,1275,457,1358" class=cmArea data-cm="panoply" alt="panoply">
        <area shape="rect" coords="2,1364,457,1447" class=cmArea data-cm="polar" alt="polar">
        <area shape="rect" coords="2,1453,457,1536" class=cmArea data-cm="red2green" alt="red2green">
        <area shape="rect" coords="2,1542,457,1625" class=cmArea data-cm="seafloor" alt="seafloor">
        <area shape="rect" coords="2,1631,457,1714" class=cmArea data-cm="seis" alt="seis">
        <area shape="rect" coords="2,1720,457,1803" class=cmArea data-cm="terra" alt="terra">
        <area shape="rect" coords="2,1809,457,1892" class=cmArea data-cm="turbo" alt="turbo">
        <area shape="rect" coords="2,1898,457,1981" class=cmArea data-cm="world" alt="world">
        <area shape="rect" coords="460,29,915,112" class=cmArea data-cm="bathy" alt="bathy">
        <area shape="rect" coords="460,118,915,201" class=cmArea data-cm="copper" alt="copper">
        <area shape="rect" coords="460,207,915,290" class=cmArea data-cm="cyclic" alt="cyclic">
        <area shape="rect" coords="460,296,915,379" class=cmArea data-cm="dem2" alt="dem2">
        <area shape="rect" coords="460,385,915,468" class=cmArea data-cm="dem4" alt="dem4">
        <area shape="rect" coords="460,474,915,557" class=cmArea data-cm="earth" alt="earth">
        <area shape="rect" coords="460,563,915,646" class=cmArea data-cm="etopo1" alt="etopo1">
        <area shape="rect" coords="460,652,915,735" class=cmArea data-cm="geo" alt="geo">
        <area shape="rect" coords="460,741,915,824" class=cmArea data-cm="gray" alt="gray">
        <area shape="rect" coords="460,830,915,913" class=cmArea data-cm="hot" alt="hot">
        <area shape="rect" coords="460,919,915,1002" class=cmArea data-cm="inferno" alt="inferno">
        <area shape="rect" coords="460,1008,915,1091" class=cmArea data-cm="mag" alt="mag">
        <area shape="rect" coords="460,1097,915,1180" class=cmArea data-cm="nighttime" alt="nighttime">
        <area shape="rect" coords="460,1186,915,1269" class=cmArea data-cm="ocean" alt="ocean">
        <area shape="rect" coords="460,1275,915,1358" class=cmArea data-cm="plasma" alt="plasma">
        <area shape="rect" coords="460,1364,915,1447" class=cmArea data-cm="rainbow" alt="rainbow">
        <area shape="rect" coords="460,1453,915,1536" class=cmArea data-cm="relief" alt="relief">
        <area shape="rect" coords="460,1542,915,1625" class=cmArea data-cm="sealand" alt="sealand">
        <area shape="rect" coords="460,1631,915,1714" class=cmArea data-cm="split" alt="split">
        <area shape="rect" coords="460,1720,915,1803" class=cmArea data-cm="topo" alt="topo">
        <area shape="rect" coords="460,1809,915,1892" class=cmArea data-cm="viridis" alt="viridis">
        <area shape="rect" coords="460,1898,915,1981" class=cmArea data-cm="wysiwyg" alt="wysiwyg">
    </map>
    <!--End standard colormap clickmap-->
    <!--Clickmap for Scientific colormap selector-->
    <map name="cmMapSci">
        <area shape="rect" coords="5,21,448,109" class=cmArea data-cm="action" alt="action">
        <area shape="rect" coords="5,110,448,198" class=cmArea data-cm="bamako" alt="bamako">
        <area shape="rect" coords="5,199,448,287" class=cmArea data-cm="batlowK" alt="batlowK">
        <area shape="rect" coords="5,288,448,376" class=cmArea data-cm="berlin" alt="berlin">
        <area shape="rect" coords="5,377,448,465" class=cmArea data-cm="broc" alt="broc">
        <area shape="rect" coords="5,466,448,554" class=cmArea data-cm="bukavu" alt="bukavu">
        <area shape="rect" coords="5,555,448,643" class=cmArea data-cm="davos" alt="davos">
        <area shape="rect" coords="5,644,448,732" class=cmArea data-cm="fes" alt="fes">
        <area shape="rect" coords="5,733,448,821" class=cmArea data-cm="hawaii" alt="hawaii">
        <area shape="rect" coords="5,822,448,910" class=cmArea data-cm="lajolla" alt="lajolla">
        <area shape="rect" coords="5,911,448,999" class=cmArea data-cm="lisbon" alt="lisbon">
        <area shape="rect" coords="5,1000,448,1088" class=cmArea data-cm="oleron" alt="oleron">
        <area shape="rect" coords="5,1089,448,1177" class=cmArea data-cm="roma" alt="roma">
        <area shape="rect" coords="5,1178,448,1266" class=cmArea data-cm="tokyo" alt="tokyo">
        <area shape="rect" coords="5,1267,448,1355" class=cmArea data-cm="vanimo" alt="vanimo">
        <area shape="rect" coords="454,21,897,109" class=cmArea data-cm="bam" alt="bam">
        <area shape="rect" coords="454,110,897,198" class=cmArea data-cm="batlow" alt="batlow">
        <area shape="rect" coords="454,199,897,287" class=cmArea data-cm="batlowW" alt="batlowW">
        <area shape="rect" coords="454,288,897,376" class=cmArea data-cm="bilbao" alt="bilbao">
        <area shape="rect" coords="454,377,897,465" class=cmArea data-cm="buda" alt="buda">
        <area shape="rect" coords="454,466,897,554" class=cmArea data-cm="cork" alt="cork">
        <area shape="rect" coords="454,555,897,643" class=cmArea data-cm="devon" alt="devon">
        <area shape="rect" coords="454,644,897,732" class=cmArea data-cm="grayC" alt="grayC">
        <area shape="rect" coords="454,733,897,821" class=cmArea data-cm="imola" alt="imola">
        <area shape="rect" coords="454,822,897,910" class=cmArea data-cm="lapaz" alt="lapaz">
        <area shape="rect" coords="454,911,897,999" class=cmArea data-cm="nuuk" alt="nuuk">
        <area shape="rect" coords="454,1000,897,1088" class=cmArea data-cm="oslo" alt="oslo">
        <area shape="rect" coords="454,1089,897,1177" class=cmArea data-cm="tofino" alt="tofino">
        <area shape="rect" coords="454,1178,897,1266" class=cmArea data-cm="turku" alt="turku">
        <area shape="rect" coords="454,1267,897,1355" class=cmArea data-cm="vik" alt="vik">
    </map>

    <!--Dialog DIVS-->
    <div id="downloading" style="display:none">
        <div id="downloadContent">
            Generating map image.
            <br>This may take a few minutes.
            <br> Please wait...
            <div>
                <div id="genInfo">
                    <div id="downloadStatus"></div>
                    <div id="genProgress">
                        <progress id="progBar" max="100"></progress>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="optSelectorShield" style="display:none;"></div>
    <div id="staIconOpts" style="display:none;">
        {% for iconOpt in icons %}
        <div class="staIconOpt" data-url="{{iconOpt['url']}}" data-symbol="{{iconOpt['symbol']}}">
            <img src="{{iconOpt['url']}}">
        </div>
        {% endfor %}
        <div class="staIconOpt" data-url="other" data-symbol="a">Other</div>

    </div>


    <!--END DIALOGS-->

    <div id="main">
        <div id="setup">
            <div id="setupInner">
                <form id="setupForm" enctype="multipart/form-data" action="getMap" method="POST">

                    <!--Station display options form-->
                    <div id="stationDisplayOpts" style="display:none">
                        <table id="staOpts">
                            <thead>
                                <tr>
                                    <th>
                                        Type
                                    </th>
                                    <th style="padding-right:17px;">
                                        Icon
                                        <div class="help">
                                            <div class="helpText">
                                                The symbol to be used to display this station type.
                                                <p>
                                                    By choosing the "Other" option, you will be presented
                                                    with an input field in which you can enter <i>many</i>
                                                    of the GMT supported symbol options listed under the <b>-S</b> option
                                                    <a target="_blank" href="https://docs.generic-mapping-tools.org/6.2/plot.html">
                                                        on this page
                                                    </a>
                                                </p>
                                                <p>
                                                    For example if you wanted to use the built-in volcano "custom" symbol, 
                                                    you would enter a value of "kvolcano" into the text field you are 
                                                    presented with upon choosing "Other"
                                                </p>
                                            </div>
                                        </div>
                                    </th>
                                    <th>Color</th>
                                    <th>Label</th>
                                </tr>
                            </thead>
                            <tbody>
                                {%for type in staTypes %}
                                <tr>
                                    <td>
                                        {{type['name']}}
                                        <input type="hidden" name="staOpt_Name" value="{{type['name']}}">
                                    </td>
                                    <td>
                                        <div class="staIconSelector">
                                            <img class="staOptIconDisp" src="{{type['url']}}">
                                            <input name="staOpt_Icon" value="{{type['symbol']}}" id="staOpt_Icon">
                                            <div class="staOptDropdown">&#9660;</div>
                                        </div>
                                    </td>
                                    <td class="color">
                                        <input type="color" name="staOpt_Color" value='{{type["color"]}}'{%if type['symbol'][-3:]=='eps' %} class="hidden"{%endif%}>
                                    </td>
                                    <td>
                                        <input type="text" name="staOpt_Label" value='{{type["name"]}}'>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div><button type="button" id="closeStaOpts">Ok</button></div>
                    </div>
                    <!--END station display options form-->

                    <input type=hidden name="socketID" id="socketID" />

                    <div class="setupHeader first">
                        Map Location
                        <div class="help">
                            <div class="helpText">
                                <p>Set the position and bounds of the map</p>
                                <p>When entering latitude/longitude bounds, the map will adjust
                                    to display the <i>full</i> range entered. Actual bounds displayed
                                    may vary somewhat due to map shape.
                                </p>

                                    <p>
                                    Click the refresh button here to reset the entered values to those
                                    actually displayed on the map.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="setupContent">
                        <select id="mapLocation">
                            <option value="Alaska" data-loc=[55.5,-164,5]>Alaska</option>
                            <option value="Wrangell" data-loc=[62.0057,-144.0194,9]>Wrangell</option>
                            <option value="Cook_Inlet" data-loc=[60.0,-152.5,8]>Cook Inlet</option>
                            <option value="Spurr" data-loc=[61.2989,-152.2539,10]>Spurr</option>
                            <option value="Redoubt" data-loc=[60.4852,-152.7438,11]>Redoubt</option>
                            <option value="Iliamna" data-loc=[60.0319,-153.0918,11]>Iliamna</option>
                            <option value="Augustine" data-loc=[59.3626,-153.435,12]>Augustine</option>
                            <option value="Fourpeaked" data-loc=[58.7703,-153.6738,11]>Fourpeaked</option>
                            <option value="Katmai_Region" data-loc=[58.3,-154.8,9]>Katmai Region</option>
                            <option value="Snowy" data-loc=[58.3336,-154.6859,12]>Snowy</option>
                            <option value="Griggs" data-loc=[58.3572,-155.1037,12]>Griggs</option>
                            <option value="Katmai" data-loc=[58.279,-154.9533,12]>Katmai</option>
                            <option value="Novarupta" data-loc=[58.2654,-155.1591,12]>Novarupta</option>
                            <option value="Trident" data-loc=[58.235,-155.104,12]>Trident</option>
                            <option value="Mageik" data-loc=[58.1946,-155.2544,12]>Mageik</option>
                            <option value="Martin" data-loc=[58.1692,-155.3566,12]>Martin</option>
                            <option value="Ugashik-Peulik" data-loc=[57.7503,-156.37,11]>Ugashik-Peulik</option>
                            <option value="Aniakchak" data-loc=[56.88149,-158.15456,11]>Aniakchak</option>
                            <option value="Veniaminof" data-loc=[56.1979,-159.3931,10]>Veniaminof</option>
                            <option value="Cold_Bay" data-loc=[55.4,-161.5,9]>Cold Bay</option>
                            <option value="Pavlof" data-loc=[55.4173,-161.8937,11]>Pavlof</option>
                            <option value="Dutton" data-loc=[55.1867,-162.2744,11]>Dutton</option>
                            <option value="Unimak_Island" data-loc=[54.7,-163.9,10]>Unimak Island</option>
                            <option value="Shishaldin" data-loc=[54.7554,-163.9711,11]>Shishaldin</option>
                            <option value="Westdahl" data-loc=[54.5171,-164.6476,11]>Westdahl</option>
                            <option value="Akutan" data-loc=[54.1331,-165.9856,11]>Akutan</option>
                            <option value="Makushin" data-loc=[53.8899,-166.925,10]>Makushin</option>
                            <option value="Bogoslof Island" data-loc=[53.9272,-168.0344,11]>Bogoslof Island</option>
                            <option value="Okmok" data-loc=[53.397,-168.166,10]>Okmok</option>
                            <option value="Cleveland" data-loc=[52.8222,-169.945,10]>Cleveland</option>
                            <option value="Korovin" data-loc=[52.3817,-174.1653,11]>Korovin</option>
                            <option value="Great_Sitkin" data-loc=[52.0765,-176.1109,11]>Great Sitkin</option>
                            <option value="Kanaga" data-loc=[51.9242,-177.1623,11]>Kanaga</option>
                            <option value="Tanaga" data-loc=[51.884,-178.143,10]>Tanaga</option>
                            <option value="Gareloi" data-loc=[51.7892,-178.796,12]>Gareloi</option>
                            <option value="Semisopochnoi" data-loc=[51.9288,179.5977,11]>Semisopochnoi</option>
                            <option value="Little_Sitkin" data-loc=[51.9531,178.5356,11]>Little Sitkin</option>
                        </select>
                        <input type="hidden" id="mapBounds" name="bounds" />
                        <input type="hidden" id="mapZoom" name="mapZoom" />
                        <div id="latLonLimits">
                            <div class="reload" tooltip="Set to map bounds">⟳</div>
                            <div class="topTitle">Min</div>
                            <div class="topTitle">Max</div>

                            <div class="leftTitle">Lat</div>
                            <div class="gridCell"><input id="minLat" class="latLon" type="number" min=-90 max=90 step=".001"></div>
                            <div class="gridCell"><input id="maxLat" class="latLon" type="number" min=-90 max=90 step=".001"></div>

                            <div class="leftTitle">Lon</div>
                            <div class="gridCell"><input id="minLon" class="latLon" type="number" min=-360 max=180 step=".001"></div>
                            <div class="gridCell"><input id="maxLon" class="latLon" type="number" min=-360 max=180 step=".001"></div>
                        </div>
                    </div>

                    <div class="setupHeader">
                        Map Size
                        <div class="help">
                            <div class="helpText">
                                <p>
                                    The size of the <i>generated</i> map, in the selected units (inches, centimeters, or pixels)
                                </p>
                                <p><b>NOTE:</b> The size entered applies to the <i>map area</i> ONLY.
                                    The final size of the image generated will be somewhat larger to allow room for axis labels,
                                    colorbar (if applicable), etc.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="setupContent">
                        <div id="size">
                            <span class="sizeLabel">Width:</span>
                            <span></span>
                            <span class="sizeLabel">Height:</span>
                            <span><input class="mapSize" id="mapWidth" name="width" type="number" min=32 max="9999" value="10"></span>
                            <span id="xMarker">X</span>
                            <span><input class="mapSize" id="mapHeight" name="height" type="number" min=32 max="9999" value="7.5"></span>
                            <span class="rightJustify">Units:</span>
                            <select class="cols2" id="sizeUnits" name="unit">
                                <option value="p">Pixels</option>
                                <option value="i" selected>Inches</option>
                                <option value="c">cm</option>
                            </select>
                        </div>
                    </div>

                    <!--General map options-->
                    <div class="setupHeader">
                        Map Options
                        <div class="help">
                            <div class="helpText">
                                <ul>
                                    <li>
                                        Show Scale: Display a map scale in the requested location,
                                        or "none" to not display a scale
                                    </li>
                                    <li>
                                        Show Legend: Display a legend with station and volcano symbols 
                                        in the requested location, or "none" to not display a legend.
                                    </li>
                                    <li>
                                        Frame type: one of plain, fancy, or inside. Sets the style 
                                        of frame to use around the map: fancy (alternating black/white bars) or plain (single black line)
                                    </li>
                                    <li>
                                        Map Colormap: The colormap to use for hillshade effect on the main map.
                                        <ul>
                                            <li>
                                                Click select to choose one of the standard GMT colormaps.
                                            </li>
                                            <li>
                                                Supports all <a href=target="_blank" href="https://docs.generic-mapping-tools.org/6.2/cookbook/cpts.html#built-in-color-palette-tables-cpt">GMT Built-in colormaps.</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        Fill Ocean Area: Fill the oceanic areas with a solid-color.
                                        <ul>
                                            <li>
                                                NOTE: deselecting this option at high zoom levels
                                                may not produce acceptable results
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        Show gridlines: Select if you want to daw the latitude/longitude gridlines on the map.
                                    </li>
                                    <li>
                                        Show tick labels: Select which edges (if any) you want to be 
                                        labeled with latitude/longitude markers.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="setupContent">
                        <div class="leftAlign">
                            Show Scale:
                            <select id=showScale name="scale">
                                <option value="False">None</option>
                                <option value="BR">Bottom Right</option>
                                <option value="BC">Bottom Center</option>
                                <option value="BL" selected>Bottom Left</option>
                                <option value="TR">Top Right</option>
                                <option value="TC">Top Center</option>
                                <option value="TL">Top Left</option>
                            </select>
                        </div>
                        <div id="LegendSetup" class="leftAlign">
                            Show Legend:
                            <select id=legendShow name="legend">
                                <option value="False">None</option>
                                <option value="BR">Bottom Right</option>
                                <option value="BC">Bottom Center</option>
                                <option value="BL">Bottom Left</option>
                                <option value="TR" selected>Top Right</option>
                                <option value="TC">Top Center</option>
                                <option value="TL">Top Left</option>
                            </select>
                        </div>
                        <div class="leftAlign">
                            Frame Type:
                            <select id="frameType" name="mapFrame">
                                <option value="fancy" selected>Fancy</option>
                                <option value="plain">Plain</option>
                                <option value="inside">Inside</option>
                            </select>
                        </div>
                        <div>
                            Map Colormap: <input id="mapColormap" type=text size=9 name="mapColormap" placeholder="auto" value="etopo1">
                            <button type="button" class="setCM" data-target="mapColormap">Select</button>
                        </div>

                        <div class="leftAlign">
                            <input type="checkbox" name="fillOcean" checked> Fill Ocean Area
                            <br><input type="checkbox" name="showGrid" checked> Show Gridlines
                        </div>
                        <div>
                            <div class="centerText">Show Tick Labels:</div>
                            <input type="checkbox" name="tickLabels" value="0"> North
                            <input type="checkbox" name="tickLabels" value="1" checked> South
                            <input type="checkbox" name="tickLabels" value="2"> East
                            <input type="checkbox" name="tickLabels" value="3" checked> West
                        </div>
                    </div>
                    <!--End general map options-->

                    <!--Overview map options-->
                    <div class="setupHeader">
                        Overview Map
                        <div class="help">
                            <div class="helpText">
                                <p>Set the size and position of the overview map, or remove it.</p>
                                <p>Units are always the same as the main map units</p>
                                <p>
                                    If "Lock to map width" is checked (default), then the overview map width
                                    will adjust as you change the main map width to maintain the
                                    same relative size.
                                </p>
                                <p>
                                    The area displayed in the overview map can be changed by dragging or zooming
                                    (using your scroll wheel or the +/- buttons) the map displayed in the inset preview.
                                    The overview can be reset to the default view by clicking the "Reset View" button.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="setupContent">
                        Show Map:
                        <select id=overview name="overview">
                            <option value="False">None</option>
                            <option value="BR" selected>Bottom Right</option>
                            <option value="BL">Bottom Left</option>
                            <option value="TR">Top Right</option>
                            <option value="TL">Top Left</option>
                        </select>
                        <br>Width:
                        <input type="number" min=0 max=9999 name="overviewWidth" id="overviewWidth" value="2.5">
                        <span id="overviewUnits"></span>
                        <div><input type="checkbox" id="lockWidth" checked>Lock to map width</div>
                        <button type="button" id="resetOverview">Reset View</button>
                        <input type="hidden" id="overviewBounds" name="overviewBounds">
                    </div>
                    <!--End Overview map options-->
                    <!--Basemap image options-->
                    <div class="setupHeader">
                        Custom Basemap Image
                        <div class="help">
                            <div class="helpText">
                                <p>Upload an image to use instead of the default hillshade files</p>
                                <p>Supports single GeoTIFF files, or image/world file pairs (.jpg/.jgw or .tif/.tfw)</p>
                                <p>
                                    If using paired image/world files, the projection used must be specified.
                                    Currently only Alaska Albers is supported.
                                </p>
                                <p>
                                    Any areas not covered by the uploaded image will be
                                    filled with the standard hillshade product.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="setupContent leftJustify">
                        Type:
                        <select id="overlayFormat" name="imgType">
                            <option value="t">GeoTIFF</option>
                            <option value="j">Image & World</option>
                        </select>
                        <div id="overlayFiles">

                        </div>
                    </div>
                    <!--End basemap image options-->

                    <!--Inset Maps-->
                    <div class="setupHeader">
                        Inset Map(s)
                        <div class="help">
                            <div class="helpText">
                                <p>
                                    Add one or more inset maps that will be displayed
                                    overlaying the main map, for example to show a zoomed-in region
                                </p>
                                <p>Once you have added an inset map, you can move or resize
                                    said inset just like you would a normal window - that is, you can move
                                    the inset to a different location on the main map by dragging the inset's
                                    title bar, or resize it by dragging the corner/side.
                                </p>
                                <p>
                                    Remove an inset by clicking the delete button
                                    next to the inset title in this box.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="setupContent blockDisplay">
                        <button type="button" id="addNewMap">Add New</button>
                        <div id="insetMaps" class="insetMapList">
                        </div>
                    </div>
                    <!--End inset maps-->

                    <!--Data plot CSV upload-->
                    <div class="setupHeader">
                        Data Plot
                        <div class=help>
                            <div class="helpText">
                                <p>Plot data from a CSV on map</p>
                                <ul>
                                    <li>
                                        Colormap: The colormap to use to plot the value column<br>
                                        All <a target="_blank" href="https://docs.generic-mapping-tools.org/6.2/cookbook/cpts.html#built-in-color-palette-tables-cpt">Built-in colormaps</a> supported by GMT are valid.
                                    </li>
                                    <li>
                                        Show Colorbar: Which side of the map to display the colorbar on, or None to not display it
                                    </li>
                                    <li>
                                        Units: Value units to display to the right or top of the colorbar.
                                        <ul>
                                            <li>
                                                Will not be displayed if "Show Colorbar" is set to "None"
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        Show Title: If checked, display the column header for the "Value" column above the colorbar
                                        <ul>
                                            <li>
                                                Will not be displayed if "Show Colorbar" is set to "None"
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        Range: The range of values to scale the colorbar to.
                                        <ul>
                                            <li>Auto-scaled to data min/max values if blank</li>
                                            <li>The color of values outside this range is undefined</li>
                                        </ul>
                                    </li>
                                    <li>
                                        CSV: The CSV file containing the data to be plotted
                                    </li>
                                    <li>
                                        Latitude, Longitude, Value: The columns from the CSV to use for latitude, longitude, and value
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="setupContent blockDisplay">
                        <div id="DataSetup">
                            Colormap:
                            <input type="text" name="colorMap" id="colormap" value="jet">
                            <button type="button" class="setCM" data-target="colormap">Select</button>
                            <br>Transparency:
                            <div id="transDiv">
                                <input type="range" min="0" max="100" value="0" class="slider" id="dataTrans" name="dataTrans">
                                <div>
                                    <span id="transLevel">0</span>%
                                </div>
                            </div>
                            Show Colorbar: <select id=showColorbar name="colorbar">
                                <option value="False">None</option>
                                <option value="MR">Right</option>
                                <option value="BC" selected>Bottom</option>
                                <option value="TC">Top</option>
                            </select>
                            <br>
                            Units: <input type="text" maxlength=4 size=4 name="scaleunits">
                            Show Title: <input type=checkbox name="showCMTitle" checked>
                            <div id="colormapRange">
                                Range:
                                <input type="number" class="numsonly" name="cmMin" placeholder="auto"> -
                                <input type="number" class="numsonly" name="cmMax" placeholder="auto">
                            </div>
                        </div>
                        <div id="dataCSV">
                            CSV: <input type=file id="plotDataCSV" name="plotData">
                        </div>
                        <div id="dataHeaders">
                            <div>Latitude</div>
                            <div>Longitude</div>
                            <div>Value</div>
                            <select id="latCol" name="latcol"></select>
                            <select id="lonCol" name="loncol"></select>
                            <select id="valCol" name="valcol"></select>
                        </div>
                    </div>
                    <!--End data plot CSV upload-->

                    <!--Station Selector Sidebar-->
                    <div class="setupHeader">
                        <span class="leftEdge"><input type="checkbox" class="sectionSelectAll" id="stationSelAll">All</span> Stations
                        <div class="help">
                            <div class="helpText">
                                <p>Station(s) to be ploted on the map.</p>
                                <p>
                                    Station list is retrieved automatically from
                                    https://volcanoes.usgs.gov/vsc/api/instrumentApi for the area displayed in
                                    the <i>main</i> map (inset maps are assumed to be a subset of the main map,
                                    and therfore covered by the same area).
                                </p>
                                <p>
                                    You can add aditional stations to be plotted by uploading a CSV file
                                    with the following columns:
                                    <table>
                                        <tr>
                                            <td>Latitude</td>
                                            <td>Longitude</td>
                                            <td>Station</td>
                                            <td>Category ID</td>
                                        </tr>
                                    </table><br>
                                    Where "Category ID" is one of the following:
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>Type</th>
                                                <th>ID</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Seismometer</td><td>1</td>
                                            </tr>
                                            <tr>
                                                <td>Tiltmeter</td><td>3</td>
                                            </tr>
                                            <tr>
                                                <td>GPS</td><td>4</td>
                                            </tr>
                                            <tr>
                                                <td>Gas</td><td>7</td>
                                            </tr>
                                            <tr>
                                                <td>Teperature</td><td>12</td>
                                            </tr>
                                            <tr>
                                                <td>Camera</td><td>22</td>
                                            </tr>
                                            <tr>
                                                <td>Infrasound</td><td>23</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    The first row of the CSV is assumed to be a header row and is ignored.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="setupContent blockDisplay">
                        <button type="button" id="stationOptions">Display Options</button>

                        <div id="stationCSV">
                            Upload CSV:<br>
                            <input type=file id="addStationCSV">
                        </div>
                        <div id="stationListTop">

                        </div>
                    </div>
                    <!--End Station Selector Sidebar-->

                    <!--Volcano Selector Sidebar-->
                    <div class="setupHeader">
                        <span class="leftEdge"><input type="checkbox" class="sectionSelectAll" id="volcanoSelAll">All</span> Volcanoes
                        <div class="help">
                            <div class="helpText">
                                <p>Volcano(es) to be ploted on the map.</p>
                                <p>
                                    Volcano list is retrieved automatically from
                                    https://volcanoes.usgs.gov/vsc/api/volcanoApi/regionstatus for the area displayed in
                                    the <i>main</i> map (inset maps are assumed to be a subset of the main map,
                                    and therfore covered by the same area), and filtered by historicaly active status.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="setupContent blockDisplay">
                        <div class="leftAlign">
                            <p>
                            Options:<br>
                            Show names:
                            <select name="showVolcNames">
                                <option value='' selected>None</option>
                                <option value="BC">Top Center</option>
                                <option value="BL">Top Right</option>
                                <option value="ML">Right</option>
                                <option value="TL">Bottom Right</option>
                                <option value="TC">Bottom Center</option>
                                <option value="TR">Bottom Left</option>
                                <option value="MR">Left</option>
                                <option value="BR">Top Left</option>
                                
                                
                                
                            </select>
                            <br><input type="checkbox" name="showVolcColor" checked> Color Volcano Markers
                            </p>
                        </div>
                        <div id="volcanoListTop">

                        </div>
                    </div>
                    <!--End Volcano Selector Sidebar-->

                </form>
            </div>
            <div id="endButtons">
                <button id="getMap">Get Map</button>
            </div>
        </div>

        <div id="cmSelector">
            <div id="cmTitle">
                Choose a colormap
            </div>
            <div id="cmTabs">
                <button class="tab current" type="Button" id="cmStandard" data-target="cmImage">
                    Standard
                </button><button class="tab" type="button" id="cmScientific" data-target="cmImageSci">
                    Scientific
                </button>
            </div>
            <div id="cmImage" class="tabContent cmImage">
                <img src='static/img/GMT_App_M_1a.png' alt="Standard Colormaps" usemap="#cmMap">
            </div>
            <div id="cmImageSci" class="tabContent cmImage" style="display:none;">
                <img src="static/img/GMT_App_M_1b.png" alt="Scientific Colormaps" usemap="#cmMapSci">
            </div>
            <div id="cmFooter">
                <button id="cmCancel">Cancel</button>
            </div>
        </div>

        <div id="mapContainer">
            <div id="maps">
                <div id="overviewMap" class="insetMap" style="display:none">
                </div>
                <div id="topMap">
                </div>
            </div>

        </div>
    </div>

</body>

</html>
