<div id="stationDisplayOpts" style="display:none">
    <div id="stationDispOptsHeader">
        <h2>Station Display Options</h2>
    </div>
    <div id="staNamePosDiv">
        Show names:
        <select name="showStationNames" class="labelLocation" id="staLabelLocation" data-parent="div.sta">
            <option value='' selected>None</option>
            <option value="BC">Top Center</option>
            <option value="BL">Top Right</option>
            <option value="ML">Right</option>
            <option value="TL">Bottom Right</option>
            <option value="TC">Bottom Center</option>
            <option value="TR">Bottom Left</option>
            <option value="MR">Left</option>
            <option value="BR">Top Left</option>
        </select>
        <div class="smallprint">ⓘ Label locations can be adjusted by dragging in the map preview</div>

    </div>
    <table id="staOpts">
        <thead>
            <tr>
                <th>
                    Type
                </th>
                <th style="padding-right:17px;">
                    Icon
                    <div class="help">
                        <div class="helpText">
                            The symbol to be used to display this station type.
                            <p>
                                By choosing the "Other" option, you will be presented
                                with an input field in which you can enter <i>many</i>
                                of the GMT supported symbol options listed under the <b>-S</b> option
                                <a target="_blank" href="https://docs.generic-mapping-tools.org/6.2/plot.html">
                                    on this page
                                </a>
                            </p>
                            <p>
                                For example if you wanted to use the built-in volcano "custom" symbol, 
                                you would enter a value of "kvolcano" into the text field you are 
                                presented with upon choosing "Other"
                            </p>
                        </div>
                    </div>
                </th>
                <th>Color</th>
                <th>Label</th>
            </tr>
        </thead>
        <tbody>
            {%for type in staTypes %}
            <tr class="opt{{type['name']}} staIconOpts" data-markerClass="staMarker{{type['name']}}">
                <td>
                    {{type['name']}}
                    <input type="hidden" name="staOpt_Name" value="{{type['name']}}">
                </td>
                <td>
                    <div class="staIconSelector">
                        <img class="staOptIconDisp" src="{{type['url']}}">
                        <input name="staOpt_Icon" value="{{type['symbol']}}" class="staOpt_Icon">
                        <div class="staOptDropdown">&#9660;</div>
                    </div>
                </td>
                <td class="color">
                    <input type="color" name="staOpt_Color" value='{{type["color"]}}'{%if type['symbol'][-3:]=='eps' %} class="hidden"{%endif%}>
                </td>
                <td>
                    <input type="text" name="staOpt_Label" value='{{type["name"]}}'>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div>
        <button type="button" id="closeStaOpts">Ok</button>
    </div>
</div>