html,
body {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
}

#main {
    display: grid;
    grid-template-columns: auto minmax(0, 1fr);
    grid-template-rows: minmax(100%, 100%);
    height: 100vh;
    justify-items: center;
    column-gap: 5px;
    padding: 5px;
    padding-top: 8px;
    box-sizing: border-box;
}

#mapContainer {
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

#maps {
    position: relative;
    display: inline-block;
}

.insetMap {
    position: absolute;
    z-index: 1000;
    border: 1px solid black;
}

#topMap {
    height: 100%;
    border: 3px inset;
}

#size {
    display: grid;
    grid-template-columns: auto 1fr auto;
}

#xMarker {
    padding-right: 3px;
    padding-left: 3px;
    text-align: center;
}

#size span {
    align-self: center;
}

.cols2 {
    grid-column-end: span 2;
}

.rightJustify {
    justify-self: end;
    padding-right: 3px;
}

.centerJustify {
    text-align: center;
}

.leftJustify {
    text-align: left;
}

.sizeLabel {
    text-align: center;
}

.reload {
    line-height: 1em;
    cursor: pointer;
    font-family: Lucida Sans Unicode;
}

#setup {
    border: 1px solid;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, .5);
    border-radius: 5px;
    box-sizing: border-box;
    position: relative;
}

#setupInner {
    height: calc(100% - 1.5em);
    overflow-y: auto;
    text-align: center;
}

.setupHeader {
    background-color: lightblue;
    padding: 2px 0px;
    text-align: center;
    position: relative;
}

.setupHeader:first-of-type {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.setupContent {
    padding: 2px 5px;
    display: inline-block;
}

#endButtons {
    position: absolute;
    bottom: 0px;
    text-align: right;
    width: 100%;
}

#downloading {
    position: fixed;
    z-index: 1002;
    background-color: lightgrey;
    border: 1px solid black;
    border-radius: 10px;
    height: 300px;
    width: 300px;
    left: calc(50% - 150px);
    top: calc(50% - 150px);
    box-shadow: 3px 3px 1px rgba(0, 0, 0, .5);
    text-align: center;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
}

#downloadContent {
    vertical-align: middle;
    font-weight: bold;
    font-size: 115%;
}

#latLonLimits {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.leftEdge {
    position: absolute;
    left: 5px;
}

.blockDisplay {
    display: block;
}

.stationType {
    text-align: left;
}

.stationTypeHead {
    text-align: center;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    background-color: lightblue;
}

.sta {
    margin-left: 20px;
}

#genInfo {
    position: relative;
    display: inline-block;
    margin-top: 10px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader {
    border: .3em solid #f3f3f3;
    /* Light grey */
    border-top: .3em solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 1em;
    height: 1em;
    animation: spin 2s linear infinite;
    position: absolute;
    left: 100%;
    top: 0px;
    margin-left: 10px;
    box-sizing: border-box;
}

div.insetMap.User {
    display: grid;
    grid-template-rows: auto 1fr;
}

div.insetMap.User div.insetTitle {
    background-color: whitesmoke;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    border-bottom: 1px solid;
    cursor: move;
}

div.insetSettingsTitle {
    padding-bottom: 3px;
    padding-top: 3px;
    justify-self: start;
    align-self: center;
}

div.insetSettings {
    border: 1px solid;
    border-radius: 5px;
    margin-bottom: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: aliceblue;
    padding-left: 5px;
    padding-right: 5px;
}

div.insetSettings button.deleteInset {
    justify-self: end;
    align-self: center;
}

#colormapRange input {
    width: 9ch;
}

.helpText.small {
    font-size: 75%;
}

#colormap {
    width: 9ch;
}

#plotDataCSV {
    width: 200px;
}

#dataHeaders {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
}

#dataHeaders select {
    width: 9ch;
}

a.cmOpts {
    font-size: 75%;
}

#cmSelector{
    position:absolute;
    display:none;
    width: calc(100vw - 20px);
    max-width:917px;
    max-height:1997px;
    height: calc( 100vh - 20px);
    z-index:1100;
    box-shadow: 5px 5px 5px rgba(0,0,0, .35);
    left:50%;
    top:10px;
    transform:translatex(-50%);
    border:1px solid black;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr auto;
    background-color: white;
}

#cmTitle{
    text-align:center;
    font-weight: bold;
    font-size: 125%;
}

#cmImage{
    overflow:auto;
    width:100%;
    height:100%;
    border-top:1px solid black;
    border-bottom:1px solid black;
}

#cmFooter{
    padding:3px 8px;
}

area {
    display:block;
    cursor:pointer;
}