html,
body {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
}

#main {
    display: grid;
    grid-template-columns: auto minmax(0, 1fr);
    grid-template-rows: minmax(100%, 100%);
    height: 100vh;
    justify-items: center;
    column-gap: 5px;
    padding: 5px;
    padding-top: 8px;
    box-sizing: border-box;
}

#mapContainer {
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

#maps {
    position: relative;
    display: inline-block;
}

.insetMap {
    position: absolute;
    z-index: 1000;
    border: 1px solid black;
}

#topMap {
    height: 100%;
    border: 3px inset;
}

#size {
    display: grid;
    grid-template-columns: auto 1fr auto;
}

#xMarker {
    padding-right: 3px;
    padding-left: 3px;
    text-align: center;
}

#size span {
    align-self: center;
}

.cols2 {
    grid-column-end: span 2;
}

.rightJustify {
    justify-self: end;
    padding-right: 3px;
}

.centerJustify {
    text-align: center;
}

.leftJustify {
    text-align: left;
}

.sizeLabel {
    text-align: center;
}

.reload {
    line-height: 1em;
    cursor: pointer;
    font-family: Lucida Sans Unicode;
}

#setup {
    border: 1px solid;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, .5);
    border-radius: 5px;
    box-sizing: border-box;
    position: relative;
}

#setupInner {
    height: calc(100% - 1.5em);
    overflow-y: auto;
    text-align: center;
}

.setupHeader {
    background-color: lightblue;
    padding: 2px 0px;
    text-align: center;
    position: relative;
    cursor: pointer;
    margin-top:3px;
    border-radius: 5px;
}

.setupHeader.accordion-open{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius:0px;
}

.setupHeader.first {
    margin-top:0px;
}

.setupContent {
    padding: 2px 5px;
    display: inline-block;
}

#endButtons {
    position: absolute;
    bottom: 0px;
    text-align: right;
    width: 100%;
}

#downloading {
    position: fixed;
    z-index: 1002;
    background-color: lightgrey;
    border: 1px solid black;
    border-radius: 10px;
    height: 300px;
    width: 300px;
    left: calc(50% - 150px);
    top: calc(50% - 150px);
    box-shadow: 3px 3px 1px rgba(0, 0, 0, .5);
    text-align: center;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
}

#downloadContent {
    vertical-align: middle;
    font-weight: bold;
    font-size: 115%;
}

#latLonLimits {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.leftEdge {
    position: absolute;
    left: 5px;
}

.blockDisplay {
    display: block;
}

.stationType {
    text-align: left;
}

.stationTypeHead {
    text-align: center;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    background-color: lightblue;
}

.sta,.volc {
    margin-left: 20px;
}

#genInfo {
    position: relative;
    display: inline-block;
    margin-top: 10px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader {
    border: .3em solid #f3f3f3;
    /* Light grey */
    border-top: .3em solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 1em;
    height: 1em;
    animation: spin 2s linear infinite;
    position: absolute;
    left: 100%;
    top: 0px;
    margin-left: 10px;
    box-sizing: border-box;
}

div.insetMap.User {
    display: grid;
    grid-template-rows: auto 1fr;
}

div.insetMap.User div.insetTitle {
    background-color: whitesmoke;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    border-bottom: 1px solid;
    cursor: move;
}

div.insetSettingsTitle {
    padding-bottom: 3px;
    padding-top: 3px;
    justify-self: start;
    align-self: center;
}

div.insetSettings {
    border: 1px solid;
    border-radius: 5px;
    margin-bottom: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: aliceblue;
    padding-left: 5px;
    padding-right: 5px;
}

div.insetSettings button.deleteInset {
    justify-self: end;
    align-self: center;
}

#colormapRange input {
    width: 9ch;
}

.helpText.small {
    font-size: 75%;
}

#colormap {
    width: 9ch;
}

#plotDataCSV {
    width: 200px;
}

#dataHeaders {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
}

#dataHeaders select {
    width: 9ch;
}

a.cmOpts {
    font-size: 75%;
}

#cmSelector{
    position:absolute;
    display:none;
    width: calc(100vw - 20px);
    max-width:917px;
    max-height:1997px;
    height: calc( 100vh - 20px);
    z-index:1100;
    box-shadow: 5px 5px 5px rgba(0,0,0, .35);
    left:50%;
    top:10px;
    transform:translatex(-50%);
    border:1px solid black;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr auto;
    background-color: white;
}

#cmTitle{
    text-align:center;
    font-weight: bold;
    font-size: 125%;
}

#cmTabs{
    border-bottom:1px solid #C9C9C9;
    padding-left:5px;
}

.cmImage{
    overflow:auto;
    width:100%;
    height:100%;
    border-bottom:1px solid black;
}

#cmFooter{
    padding:3px 8px;
}

area {
    display:block;
    cursor:pointer;
}

.leftAlign{
    text-align: left;
}

div.helpText::before{
    content:"";
    position:absolute;
    width:0px;
    height:0px;
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    border-bottom:7px solid whitesmoke;
    bottom:100%;
    left:0px;
    z-index:1101;
}

div.helpText{
    display:none;
    position:fixed;
    margin-top:26px;
    margin-left:-16px;
    padding:3px 5px;
    background-color:whitesmoke;
    box-shadow: 5px 5px 5px rgba(0,0,0,.35);
    z-index:1101;
    text-align:left;
    max-width:80ch;
    font-weight:normal;
}

div.help{
    position:absolute;
    top:0px;
    right:0px;
}

div.help::before{
    display:inline-block;
    content:"?";
    font-size:75%;
    background-color:#feb22a;
    width:16px;
    height:16px;
    border-radius:100%;
    text-align:center;
    line-height: 16px;
    box-shadow:inset -1px -1px 1px 0px rgba(0,0,0,0.25);
    cursor:pointer;
    position:absolute;
    top:3px;
    right:3px;
}

table{
    border:1px solid black;
    border-collapse: collapse;
}

td,th{
    border:1px solid black;
}

#transDiv{
    display:grid;
    grid-template-columns: 1fr 5ch;
}


button.tab {
    vertical-align: bottom;
    border-bottom: none;
    margin: 0px;
    margin-right: 4px;
    padding: 5px;
    border: 1px solid #C9C9C9;
    background-color: #EAEAEA;
    background: linear-gradient(to top, #FFFFFF, #DBDBDB);
    position: relative;
    top: 1px;
    z-index: 2;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-size: 1em;
}

button.tab.current {
    background-color: white;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
}

button.tab:not(.current):hover {
    background-color: #DFDFDF;
    border-left-color: #878787;
    border-top-color: #878787;
    border-right-color: #878787;
}

.staOptIconDisp{
    width:24px;
    max-height:24px;
    vertical-align: middle;
}

.staIconSelector{
    position:relative;
}

.staOptDropdown{
    display:inline-block;
    font-size:7pt;
    line-height:24px;
    width:24px;
    cursor:pointer;
}

.staIconSelector input{
    display:none;
}

.staIconSelector.custom input{
    display:inline;
    width:12ch;
}

.staIconSelector.custom img{
    display:none;
}

.staIconSelector.custom .staOptDropdown{
    position:absolute;
    right:0px;
    top:0px;
    z-index: 3;
}

input.hidden{
    display:none;
}

#legendOptionsDlg{
    position:fixed;
    z-index:1200;
    background-color: whitesmoke;
    box-shadow:5px 5px 2px rgba(0, 0, 0, .5);
    left:calc(50% - 160px );
    top:25%;
    border:3px ridge;
    padding:2px;
    width:315px;
}

#legendOptsForm{
    display:grid;
    grid-template-columns:1fr auto;
    grid-gap: 10px;
    border-top:1px solid #C9C9C9;
    border-bottom:1px solid #C9C9C9;
    padding-top:8px;
    padding-bottom:3px;
    padding-right:10px;
}

#lbktTransValue{
    width:3ch;
    display: inline-block;
}

#transSlider{
    text-align: left;
}

#lbkt{
    width:75px;
}
#lts{
    width:5ch;
}

#legendOptsHeader h2, #stationDispOptsHeader h2{
    margin-top:0px;
    margin-bottom:3px;
}

#legendOptsForm label{
    grid-column: 1/2;
    text-align:right;
}

#legendOptsForm input{
    grid-column: 2/3;
}

#stationDisplayOpts{
    position: fixed;
    z-index: 1200;
    background-color:whitesmoke;
    box-shadow:5px 5px 2px rgba(0, 0, 0, .5);
    left:50%;
    top:25%;
    border:3px ridge;
    padding:2px;
}

#optSelectorShield{
    position:fixed;
    height:100vh;
    width:100vw;
    top:0px;
    left:0px;
    z-index:1201;
}

#staIconOpts{
    position:absolute;
    border:1px solid black;
    box-shadow:5px 5px 2px rgba(0, 0, 0, .5);
    z-index:1202;
    width:auto;
    left:22%;
    overflow-y:auto;
}

.staIconOpt{
    cursor:pointer;
    border:1px solid black;
    background-color: whitesmoke;
    height:22px;
    text-align: center;
    padding:2px 5px;
}

.staIconOpt:hover{
    background-color:aqua;
}

.staIconOpt img{
    width:18px;
    max-height:18px;
    vertical-align: middle;
}
#staOpts thead th{
    position:relative;
    padding-top:2px;
}

#staOpts tbody td{
    padding:1px 5px;
}

.markerLabel{
    white-space: nowrap;
    font-size:14pt;
    font-family: helvetica,sans-serif;
    margin-top:-3px;
}

#volcLabelPosShield{
    position:fixed;
    z-index: 1202;
    top:0px;
    left:0px;
    width:100vw;
    height:100vh;
    text-align: center;
}

#volcLabelPosDiv div.topDiv{
    background-color:whitesmoke;
    border-bottom:1px solid black;
    padding:5px;
    cursor: pointer;
}

#volcLabelPosDiv div.topDiv h2{
    padding:0px;
    margin:0px;
}

#customVolcLabelOuter{
    padding-left:5px;
    padding-right:5px;
    padding-top:5px;
    overflow-y:auto;
}

#volcLabelPosDiv{
    display:grid;
    grid-template-rows: auto 1fr auto;
    width:300px;
    height:50%;
    margin-top:20px;
    background-color: white;
    border:1px solid black;
    box-shadow:5px 5px 2px rgba(0, 0, 0, .5);
    margin-left:auto;
    margin-right:auto;
    padding-bottom:10px;
}

#customVolcLabelPos{
    text-align: left;
    width:100%;
    height:100%
}

#volcOptionsWrapper{
    margin-top:15px;
    margin-bottom:15px;
}

#volcEditDiv{
    text-align:center;
}

#editVolcLocs{
    margin-top:5px;
    margin-bottom:5px;
}

#volcLabelsTable{
    width:100%;
}

#volcLabelsTable tbody tr td input{
    width:100%;
    box-sizing: border-box;
}