[Unit]
Description = Map Generator
After = network.target

[Service]
WorkingDirectory = /shared/apps/mapgen/web
ExecStart = /shared/apps/mapgen/mapgen-env/bin/gunicorn
User=www-data
Group=www-data
RuntimeDirectory = mapgen
RuntimeDirectoryMode = 777
Restart=on-failure
RestartSec=15s

[Install]
WantedBy = multi-user.target
